.scroll-black {
    &::-webkit-scrollbar-track {
        @apply bg-gray-400;
        border-radius: 16px;
    }
    &::-webkit-scrollbar {
        @apply bg-gray-400;
        width: 6px;
        border-radius: 100px;
    }
    &::-webkit-scrollbar-thumb {
        @apply bg-gray-700;
        border-radius: 16px;
    }
}

.scroll-black-horizontal {
    &::-webkit-scrollbar-track {
        @apply bg-gray-400;
        border-radius: 16px;
    }
    &::-webkit-scrollbar {
        @apply bg-gray-400;
        height: 6px;
        border-radius: 100px;
    }
    &::-webkit-scrollbar-thumb {
        @apply bg-gray-700;
        border-radius: 16px;
    }
}

.scroll-gray-700 {
    &::-webkit-scrollbar-track {
        @apply bg-gray-500;
        border-radius: 9999px;
    }
    &::-webkit-scrollbar {
        @apply bg-gray-500;
        width: 5px;
        border-radius: 100px;
    }
    &::-webkit-scrollbar-thumb {
        @apply bg-gray-700;
        border-radius: 9999px;
    }
}

.scroll-gray-700-horizontal {
    &::-webkit-scrollbar-track {
        @apply bg-gray-500;
        border-radius: 9999px;
    }
    &::-webkit-scrollbar {
        @apply bg-gray-500;
        height: 5px;
        border-radius: 100px;
    }
    &::-webkit-scrollbar-thumb {
        @apply bg-gray-700;
        border-radius: 9999px;
    }
}
